body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.auth-container,
.dashboard-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card,
.dashboard-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.auth-card h2,
.dashboard-card h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-btn,
.primary-btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-btn:hover,
.primary-btn:hover {
  background: #4338ca;
}

.danger-btn {
  width: 100%;
  padding: 12px;
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
